page-select-fab {

  .fab-ios.fab-ios-light, .fab-md.fab-md-light {
    color: #FFFFFF;
    background-color: #CCCCCC;
    // background-color: $toolbar-background;
  }

  // make icon bigger
  .fab {
    font-size: 18px;
  }

}
